# DEBUG=True
# GS_BUCKET_NAME=bucket_collune
# GS_PROJECT_ID=

# DB_NAME=postgres
# DB_USER=
# DB_PASSWORD=
# DB_INSTANCE_CONNECTION_NAME=

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@spsystems.in
DJANGO_SUPERUSER_USERNAME=a19hu
DJANGO_SUPERUSER_EMAIL=a@gmail.com
DJANGO_SUPERUSER_PASSWORD=a19hu


META_APP_ID=
META_APP_SECRET=
INSTAGRAM_REDIRECT_URI=http://localhost:8000/api/v1/auth/instagram/callback/
FRONTEND_URL=http://localhost:3000
MOBILE_APP_URL=collune://

GOOGLE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=http://localhost:8000/api/v1/auth/youtube/callback/
GOOGLE_CLIENT_ID=
YOUTUBE_OAUTH_SCOPES=openid email profile https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/yt-analytics.readonly

X_CLIENT_ID=
X_CLIENT_SECRET=
X_REDIRECT_URI=http://127.0.0.1:8000/api/v1/auth/x/callback/
X_OAUTH_SCOPES=tweet.read users.read follows.read offline.access
X_BEARER_TOKEN=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
