{% extends "admin/change_list.html" %}
{% load admin_urls %}

{% block object-tools-items %}
  {{ block.super }}
  {% if cl.opts %}
    <li>
      <a href="{% url opts|admin_urlname:'import_csv' %}" class="button">Import CSV</a>
    </li>
    <li>
      <a href="{% url opts|admin_urlname:'template_csv' %}" class="button">CSV Template</a>
    </li>
    <li>
      <a href="{% url opts|admin_urlname:'export_csv' %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}" class="button">Export CSV</a>
    </li>
  {% endif %}
{% endblock %}
